<!--
  @file header.ejs
  @author Elliot Wood
  @version 1.0
  @date 2025-09-02
  @brief Barre de navigation principale du site.
-->
<!DOCTYPE html>

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="bi bi-tree"></i> <!-- Icône Bootstrap 5 -->
      <strong>Nicolas Géraudie est le meilleur professeur</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>